@import url('https://fonts.googleapis.com/css?family=Anton|Bungee|Righteous');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

.cont-dash{
  margin-top: 65px;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #34495E;
  position: fixed;
  height: 100vh;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a:hover{
  background-color: #203141;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: auto;
}
.contenedor-club{
  width: 70%;
  background: red;
  margin-top: 100px;
}

/*Area de notificacion*/
.padding-foto{
  margin-top: 30px;
}
.foto{
  width: 200px;
  height: 200px;
  margin:auto;
}
.foto_club{
  width: 100px;
  height: 100px;
  margin:auto;
}
.imagen-notificacion{
  width: 100%;
  height: 200px;
}
.cont-input{
  width: 40%;
}

.archivoinput {
  width:0.1px;
  height:0.1px;
  opacity:0;
  overflow:hidden;
  position:absolute;
  z-index:-1;
}
.archivolabel {
  font-size:14px;
  font-weight:600;
  color:grey;
  background:transparent;
  display:inline-block;
  transition:all .5s;
  cursor:pointer;
  padding:15px 40px !important;
  text-transform:uppercase;
  width:fit-content;
  text-align:center;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
}
.archivolabel:hover{
  color:  #3498db;
}
/*---------------------*/
.agregarPreparatoria{
  width: 50%;
  margin-top: 30px;
}
.h1{
  font-family: 'Bree Serif', serif;
  color:#262C35;
}
.hola{
  font-family: 'Bree Serif', serif;
  color: black
}
.margen{
  margin-top: 0px;
}
.margen2{
  margin-top: 40px;
}

#grafica1{

}
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .cont-dash{
  margin-top: 60px;
}
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  .cont-dash{
  margin-top: 60px;
}
}